<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Thesis Action Set"
            visible="true"
            id="thesis.actionSet">
         <menu
               label="Thesis &amp;Menu"
               id="thesisMenu">
            <separator
                  name="thesisGroup">
            </separator>
         </menu>
         <action
               label="&amp;Generate Mutants"
               icon="icons/mutant.gif"
               class="thesis.actions.GenerateMutantsAction"
               tooltip="Generate Mutants"
               menubarPath="thesisMenu/thesisGroup"
               toolbarPath="thesisGroup"
               id="thesis.actions.GenerateMutantsAction">
         </action>
         <action
         		label="&amp;Run Test Suite"
         		icon="icons/test.gif"
         		class="thesis.actions.RunTestSuiteAction"
         		tooltip="Run Test Suite"
         		menubarPath="thesisMenu/thesisGroup"
         		toolbarPath="thesisGroup"
         		id="thesis.actions.RunTestSuiteAction">
         </action>
         <action
         		label="&amp;Change Time Limit"
         		icon="icons/sample.gif"
         		class="thesis.actions.ChangeTimeLimit"
         		tooltip="Change Time Limit"
         		menubarPath="thesisMenu/thesisGroup"
         		toolbarPath="thesisGroup"
         		id="thesis.actions.ChangeTimeLimit">
         </action>
      </actionSet>
   </extension>


	<extension
			point="org.eclipse.ui.views">
      <category
            name="Thesis Category"
            id="Timeline">
      </category>
      <view
            name="Timeline"
            icon="icons/sample.gif"
            category="Timeline"
            class="thesis.views.Timeline"
            id="thesis.views.Timeline">
      </view>
   </extension>
</plugin>
