<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Thesis Action Set"
            visible="true"
            id="thesis.actionSet">
         <menu
               label="Thesis &amp;Menu"
               id="thesisMenu">
            <separator
                  name="thesisGroup">
            </separator>
         </menu>
         <action
               label="&amp;Generate Mutants"
               icon="icons/sample.gif"
               class="thesis.actions.GenerateMutantsAction"
               tooltip="Generate Mutants"
               menubarPath="thesisMenu/thesisGroup"
               toolbarPath="thesisGroup"
               id="thesis.actions.GenerateMutantsAction">
         </action>
         <action
         		label="&amp;Run Test Suite"
         		icon="icons/sample.gif"
         		class="thesis.actions.RunTestSuiteAction"
         		tooltip="Run Test Suite"
         		menubarPath="thesisMenu/thesisGroup"
         		toolbarPath="thesisGroup"
         		id="thesis.actions.RunTestSuiteAction">
         </action>
      </actionSet>
   </extension>

</plugin>
